* {
  font-family: Oswald;
  color: antiquewhite;
  background-color: green;
}

h1 {
  text-align: center;
}

.navy {
  display: flex;
  align-items: center;
  position: sticky;
  padding: 10px 20px;
}

.navy a {
  color: white;
  text-decoration: none;
  padding: 14px 20px;
}

.navy a:hover {
  background-color: green;
  color: black;
}

.search-container {
  display: flex;
  flex-grow: 1;
  max-width: 80%;
}

.search-container input[type="text"] {
  padding: 6px;
  border: none;
  border-radius: 4px;
  flex-grow: 1;
}

.search-container button {
  padding: 6px 10px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.search-container button:hover {
  background-color: black;
  color: white;
}
